<?xml version='1.0' encoding='utf-8'?>
<plugin id="msi.cordova.bluetooth.zbtprinter" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MSIBluetoothPrinter</name>
    <description>A Cordova/Phonegap driver for Zebra bluetooth printers</description>
    <license>Apache</license>
    <author>Avinash Shah</author>
    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>
  <!-- interface -->
    <js-module name="MSIBluetoothPrinter" src="www/MSIBluetoothPrinter.js">
        <clobbers target="msibluetoothprinter" />
    </js-module>
  <!-- android -->
  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    </config-file>
    <source-file src="src/android/MSIBluetoothPrinter.java" target-dir="src/android" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MSIBluetoothPrinter">
        <param name="android-package" value="msi.cordova.bluetooth.zbtprinter.MSIBluetoothPrinter" />
      </feature>
    </config-file>

    <source-file src="src/android/ZSDK_ANDROID_API.jar" target-dir="libs"/>
  </platform>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MSIBluetoothPrinter">
        <param name="ios-package" value="MSIBluetoothPrinter"/>
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
    <array>
    <string>com.zebra.rawport</string>
    </array>
    </config-file>
    <header-file src="src/ios/MSIBluetoothPrinter.h" />
    <source-file src="src/ios/MSIBluetoothPrinter.m" />
    <header-file src="src/ios/zebra/include/MfiBtPrinterConnection.h" />
    <header-file src="src/ios/zebra/include/ZebraPrinterFactory.h" />
    <header-file src="src/ios/zebra/include/ZebraPrinterConnection.h" />
    <header-file src="src/ios/zebra/include/ZebraPrinter.h" />
    <header-file src="src/ios/zebra/include/FormatUtil.h" />
    <header-file src="src/ios/zebra/include/FileUtil.h" />
    <header-file src="src/ios/zebra/include/PrinterStatus.h" />
    <header-file src="src/ios/zebra/include/PrinterStatusMessages.h" />
    <header-file src="src/ios/zebra/include/ZplPrintMode.h" />
    <header-file src="src/ios/zebra/include/GraphicsUtil.h" />
    <header-file src="src/ios/zebra/include/DiscoveredPrinter.h" />
    <header-file src="src/ios/zebra/include/FieldDescriptionData.h" />
    <header-file src="src/ios/zebra/include/DiscoveredPrinterNetwork.h" />
    <header-file src="src/ios/zebra/include/MagCardReader.h" />
    <header-file src="src/ios/zebra/include/NetworkDiscoverer.h" />
    <header-file src="src/ios/zebra/include/SGD.h" />
    <header-file src="src/ios/zebra/include/SmartCardReader.h" />
    <header-file src="src/ios/zebra/include/ToolsUtil.h" />
    <header-file src="src/ios/zebra/include/TcpPrinterConnection.h" />
    <source-file src="src/ios/zebra/libZSDK_API.a" framework="true" />
    <framework src="ExternalAccessory.framework" />
  </platform>
</plugin>
